# vehicle environment
LAT=36.71857067765769
LON=-4.497233005060216
ALT=53
HEADING=45

# rabbitmq environment
RABBITMQ_URL=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=tfm
