$blueAeorum: #004b98;
$blueLightAeorum: #1b3e92;
$blueDarkAeorum: #18273B;
$darkBlue: #0b0f1d;
$baldoColor: #1A324C;
$borderButtonAdmin: #626eb2;
$fontWhite: #fff;
$errorColor: rgba(191, 23, 23,1);
$greenEmeritus: #86C338;
$greenLightEmeritus: #5aed6a;
$greenDarkEmeritus: #004D12;
$greenDarkEmeritusOpa4:rgba(0, 77, 18, .4);

$logiAzul: #134689;
$logiVerde: #00a19a;

$greyBack: #3e3e3e;
$greenBaldo: #85c72d;
$greenlightInput: #ddecc2;
$greyBaldo: #c2c2c2;